		<!--  CRUD FOrm Template -->			
		
		<style>
	          form label {
	            display:inline-block;
	            padding:0 15px 0  0;
	            width:150px;	            
	            text-align: right;
	            cursor:pointer;
	          }
	          
			.form-alert { font-weight:bold;}
			ul.error-lists {
				list-style-type:disc;
				color:red;
			} 

			span.required-marker {
				font-size:12px;
				color:red;
			}
			span.field-error {
				color:red;
			}
			
			table.table-form {				
				border:solid 1px gray;
				border-collapse:collapse;
				
			}
			
			table.table-form th {
				padding:5px 0;
				border:solid 1px gray;
				font-size:20px;
			}
			
			table.table-form  td {
 				padding:2px 2px;
			}
			
			table.table-form  td.title {
				width:20%;
				background:none #EEEEEE;	
				text-align:right;							
			}							         
        </style> 	

		<div id="module_title">{MODULE_TITLE}</div>
		<div id="page_title">{PAGE_TITLE}</div>        	
         
        <div id="content-wrapper"> 
                
			{FORM_TAG} 
				<div class="system-message">{SYSTEM_MESSAGE}</div>
				<div class="success-message">{SUCCESS_MESSAGE}</div>
				<div class="failed-message">{FAILED_MESSAGE}</div>			
				<div class="{FORM_NAME}-errors"></div>
			
				 <table class="table-form" width="40%" cellspacing="0" cellpadding="0" border="0">
				 	<tr>
				 		<th colspan="2">{FORM_TITLE}</th>
				 	</tr>
					{FORM_HTML}
				 	<tr>
				 		<td class="title"></td>
				 		<td>{BUTTONS_HTML}</td>
				 	</tr>			 	
				 </table>			
			</form>
		
		</div>	
		
  		{JS_VALIDATION_CODE}
  		{JS_AJAX_SUBMIT_CODE}  			
		
		<!-- / Crud Form Template -->   