		<!--  CRUD FOrm Template -->			
		
		<style>
		
			  form #fields-row {
			  	margin:5px;
			  }
	          form label {
	            display:inline-block;
	            
	            /*width:150px;*/	            
	             
	            cursor:pointer;
	          }
	          
			.form-alert { font-weight:bold;}
			ul.error-lists {
				list-style-type:disc;
				color:red;
			} 

			span.required-marker {
				font-size:12px;
				color:red;
			}
			span.field-error {
				color:red;
			}
			
			table.table-form {				
				border:solid 1px gray;
				border-collapse:collapse;
				
			}
			
			table.table-form th {
				padding:5px 0;
				border:solid 1px gray;
				font-size:20px;
			}
			
			table.table-form  td {
 				padding:2px 2px;
			}
			
			table.table-form  td.title {
				/*width:20%;*/
				background:none #EEEEEE;	
				text-align:right;							
			}							         
        </style> 	
		
		<div class="container-fluid">
			 
      	
	         
	        <div id="content-wrapper"> 
	                
				{FORM_TAG} 
					<div class="row"><div class="col-lg-12"><div class="system-message">{SYSTEM_MESSAGE}</div></div></div>
					<div class="row"><div class="col-lg-12"><div class="success-message">{SUCCESS_MESSAGE}</div></div></div>
					<div class="row"><div class="col-lg-12"><div class="failed-message">{FAILED_MESSAGE}</div></div></div>			
					<div class="row"><div class="col-lg-12"><div class="{FORM_NAME}-errors"></div></div></div>				
					 <div class="row"><div class="col-lg-12" id="page_title">{FORM_TITLE}</div></div>
					 {FORM_HTML}
					 <div class="row">
						 <div class="col-lg-2"></div>
					 	 <div class="col-lg-10">{BUTTONS_HTML}</div>
					 </div>	 
				</form>
			
			</div>	
		</div>
  		{JS_VALIDATION_CODE}
  		{JS_AJAX_SUBMIT_CODE}  			
		
		<!-- / Crud Form Template -->   