@charset "utf-8";
/* CSS Document */

div.red-btn-l{
	background: url(images/red-btn-l.gif) no-repeat;
	height: 25px;
	width: 4px;
	float: left;
}

div.red-btn-r{
	background: url(images/red-btn-r.gif) no-repeat;
	height: 25px;
	width: 4px;
	position: absolute;
	display: inline;
}

input.red-btn-fill{
	background: url(images/red-filler.gif) repeat-x;
	border: 0;	
	height: 25px;
	color: #fff;
	position: relative;	
}

div.grn-btn-l{
	background: url(images/grn-btn-l.gif) no-repeat;
	height: 25px;
	width: 4px;
	float: left;
}

div.grn-btn-r{
	background: url(images/grn-btn-r.gif) no-repeat;
	height: 25px;
	width: 4px;
	position: absolute;
	display: inline;
}

input.grn-btn-fill{
	background: url(images/grn-filler.gif) repeat-x;
	border: 0;	
	height: 25px;
	color: #fff;
	position: relative;	
}

div.blu-btn-l{
	background: url(images/blu-btn-l.gif) no-repeat;
	height: 25px;
	width: 4px;
	float: left;
}

div.blu-btn-r{
	background: url(images/blu-btn-r.gif) no-repeat;
	height: 25px;
	width: 4px;
	position: absolute;
	display: inline;
}

input.blu-btn-fill{
	background: url(images/blu-filler.gif) repeat-x;
	border: 0;	
	height: 25px;
	color: #fff;
	position: relative;	
}

/* for IE6 */
*html input#btn{
	margin: 0 -5px 0 -4px;
}


