/* CSS for Log-in screen */

body {
	background-color: #fff;/* #8fcbff; */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 76%;
	color: #434343;
	line-height: 1.3em;
}

h3 {
	font-size: 120%;
}

p {
	text-align: justify;
}


div#login-mainwrap{	
	height: 690px;
	width: 900px;
	margin: 0 auto;
}

div#login-left{
	background: url(../images/left.png) no-repeat;
	float: left;
	width: 70px;
	height: 690px;
}

div#login-right{
	background: url(../images/right.png) no-repeat right;
	float: right;
	width: 70px;
	height: 690px;
}

div#login-contentwrap{
	background: url(../images/filler.png) repeat-x;
	width: 760px;
	height: 690px;
	float: left;
}

div#login-contentover{
	background: url(../images/lines-over.png) no-repeat right;
	height: 590px;
	width: 800px;
	position: absolute;
	left: 220px;
	top: 100px;
}

div#login-content{
	height: 230px;	
	width: 760px;
	padding: 230px 0 140px 0;	
}

div#login-content-l{
	float: left;
	width: 41%;
	padding-right: 10px;
}

div#login-content-r{
	float: left;
	width: 57%;
}

div#login-footer{
	color: #CCCCCC;
	text-align: left;
	font-style:italic;
	clear: both;
	height: 40px;
	font-size: 90%;
	border-top: 1px solid #7FC4FF;
}

h1.logo a {
	font-size: 200%;
	display: block;
	height: 88px;
	width: 147px;
	margin-left: 115px;
}

* html h1.logo a{
	margin-left: 75px;
}

h1.logo a span {
	position: absolute;
	top: -1000px;
}

#mainform{
	/*width: 311px;
	height: 120px; - commented to fix css 120908*/ 
	display: block;	
	margin-top: 5px;
}

div#form-element{
	display: block;
	float: left;
	width: 100%;
}

label{
	display: block;
	float: left;
	width: 110px;
	height: 20px;
	text-align: right;
	margin: 2px 5px 0 0;
}

.text-input{
	background: #fff;
	float: left;	
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;	
	height: 18px;
	width: 100%;	
/* 	width: 1px; */
}

input#login, input#password, input#user_id{
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	background: #fff;
	height: 20px;
	float: left;
	margin-top: 0px;
	width: 120px !important;
}

div.error-msg{
	padding-bottom: 5px;
}

span.error-field{
	margin-left: 5px;
}

div.error-field{
	background: #FBE3E4;
	border: 1px solid #FF7F7F;
	color: #8A1F11;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

div.error-field ul li{
	list-style: none;
}

.text-input-l{
	background: url(../images/input-l.png) no-repeat;
	float: left;
	width: 3px;
	height: 20px;
}
.text-input-r{
	background: url(../images/input-r.png) no-repeat;
	float: left;
	width: 3px;
	height: 20px;
}

input{
	background: none;
	border: none;
	font-family:  "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin-top: 1px;
}

* html input{
	margin-top: -1px;
	padding-top: 1px;
}

/* input.text{
	height:20px;
} */

.ok-btn {    
    border: 0;
    background: url(../images/ok-btn.gif) 0 -20px scroll no-repeat;
    color: #666;
    height: 20px;
    /* used to catch the buttonEnding */  
    cursor: pointer;
	margin-bottom: 2px;
}

.cancel-btn {      
    background: url(../images/cancel-btn.gif) 0 top scroll no-repeat;
    color: #666;
    height: 20px;
    /* used to catch the buttonEnding */  
    cursor: pointer;
	margin-bottom: 2px;
}

#ok-btn1:hover, #ok-btn1.hover {	
    background: url(../images/ok-btn.gif) 0 -20px scroll no-repeat;
    color: #666;
    height: 20px;
    /* used to catch the buttonEnding */  
    cursor: pointer;
	margin-bottom: 2px;
}

#cancel-btn1:hover, #cancel-btn1.hover {
    background: url(../images/cancel-btn.gif) 0 -20px scroll no-repeat;
    color: #666;
    height: 20px;
    /* used to catch the buttonEnding */  
    cursor: pointer;
	margin-bottom: 2px;
}


div.btn{
	/* position: relative; */
	display: block;
	height: 20px;
	float: left;
	padding: 5px 0 0 115px;	
	/* margin-top: 45px;
	margin-left: 135px; */
}

div.button-r{
	background: url(../images/button-r.png) no-repeat;
	float: right;
	width: 3px;
	height: 20px;	
}

div.button-l{
	background: url(../images/button-l.png) no-repeat;
	float: left;
	width: 3px;
	height: 20px;	
}

div.forgot-pw{
	display: block;
	height: 20px;
	float: left;
	padding: 15px 0 0 115px;	
}

div.forgot-pw a{
	font-style: normal;
}

td.tab_on {
	padding: 5px;
	font-weight: bold;
	text-align: center;
	background-color: #7FC4FF;
	border-right: 1px solid #FFFFFF;
}

td.tab_off {
	padding: 5px;
	font-weight: bold;
	text-align: center;
	background-color: #E2EEFC;
	border-right: 1px solid #FFFFFF;
}

td.bar {
	border-top: 3px solid #7FC4FF;
}

a#printarea {
	float:right;
	width: 25px;
    height: 16px;
    margin: 0 auto;
	background: transparent url(../images/print.gif) no-repeat;
    padding-right:5px;
}
